dist-newstyle/
*.hi
*.o
*.dyn_hi
*.dyn_o
grammar_reference_pdf/
grammar_reference/images/
grammar_reference/*.html
grammar_reference/*.pdf
reference/
*.ttf
*.otf
.venv/
script/*.png
script/__pycache__/
script/**/__pycache__/
script/*.svg
script/v3/*.svg
discord_archive/data/
